<!DOCTYPE html>
<html lang="en"
      th:fragment="parent(content,title)"
      xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title data-th-replace="${title}">Bookstore Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

   <div>
       <div data-th-replace="~{nav :: navbar}"></div>
   </div>
   <div class="">
       <section data-th-replace="${content}"></section>
   </div>

</body>
</html>