<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand"href="#">Student Management System</a>
      
        <!-- Toggler/collapside Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!--- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
           <ul class="navbar-nav">
              
              <li class="nav-item"><a class="nav-link"th:href="@{/students}">Student Management</a></li>
           </ul>
        </div>
       </nav>
    
    <div class="container">

        <div class="row">
               
             <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                  <div class="text-center" style="font-size: 30px;">
                     Create New Student
                  </div>
                  <div class="card-body"></div>
                  <form th:action="@{/students}" th:object="${student}"method="post">
                        <div class="form-group">
                            <label>Student First Name</label>
                            <input type="text"name="firstName"class="form-control"placeholder="Enter Student FirstName">
                        </div>

                        <div class="form-group">
                              <label>Student Last Name</label>
                              <input type="text" name="lastName" class="form-control"placeholder="Enter Student LastName">
                        </div>

                        <div class="form-group">
                              <label>Student Email</label>
                              <input type="text"name="email"class="form-control"placeholder="Enter Student Email">
                        </div>

                        <div class="box-footer d-flex justify-content-center mt-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>


                  </form>
             </div>
        </div>

    </div>
</body>
</html>